<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Hi WELCOME:{{user.username}}</h1>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <center><h1 style="color: red;" >PLEASE LOGIN</h1></center>
        <center><a href="{% url 'signup' %} " type="button">signup</a></center>
        <center><a href="{% url 'login' %}" type="button">login</a></center>
    {% endif %}  
</body>
</html>